.background
{
    background-color: lightcoral;
}
.title
{
    color: whitesmoke;
    font-family: 'bradley hand';
    font-size: 100px;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
.mainImage
{
    width: 800px;   
    height: 1000px;  
}
.centered
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text 
{
    margin-top: 50px;
    color: whitesmoke;
}
.image-frame 
{
    display: flex;
    padding: 10px;
    border: 5px solid #333;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.image-container 
{
    display: flex;
    gap: 10px; /* Adjust the space between images */
    justify-content: center; /* Center images horizontally within the container */
    flex-wrap: nowrap; /* Prevents images from wrapping to the next line */
    overflow-x: auto; /* Adds horizontal scroll if images exceed container width */
}
.fixed-size-image
{
    width: 300px;   
    height: 200px;  
}
